body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    max-width: 450px;
    min-width: 300px;
    float: center;
    margin: auto;
}

#search {
    /*    text-align: center;*/
    
    width: 80%;
    /*    height: 50%;*/
    
    font-size: auto;
    margin: auto;
    border-radius: 8px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.img-responsive2 {
    display: block;
    max-width: 80px;
    max-height: 50px;
    margin: -5px 0px 0px 0px;
    /*    border-radius: 5px;*/
}