doctype html
html
  head
    title Home
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='app/styles/main.css')
block body
        .container
            .navbar.navbar-default
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="/")
                            img.img-responsive2(src="/app/images/logos/home-ico.png")
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a.active(href="mission") Our Mission
                            li.dropdown 
                                a(href="services") Services
                            li
                                a(href="employees") Employees
                            li
                                a(href="career") Career
                            
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="contact") Contact Us
            block header