 <a class="navbar-brand" href="<?php bloginfo( 'url' ); ?>"><img class="img-responsive2" src="http://localhost:8888/KathieRobertsLaw/wp-content/uploads/2014/11/kbrlogo.png"></a>



a.navbar-brand
    img.img-responsive2(src="/app/images/logos/logo.png")