extends layout.jade
block header
    .jumbotron
        
            h2 Services we provide
            br
            ul
                li Web Application Development 
                    ul
                        li I-Phone Application 
                        li Android Applications
                        li Multiplatform Application
                li Software testing 
                    ul 
                        li Automation Testing 
                        li Manual Testing