extends layout.jade

block head
    title Home
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='app/styles/main.css')
block body
        .container
            .jumbotron
                input.form-control#search(type="search", placeholder="City")
                h2#results
                h2#weather
                script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
                script(src="app/js/main.js")